
@import  "base/reset";
@import "abstracts/mixin";

//Nesting

/* Estilos del header 
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    nav{
        flex: 1;
        display: flex;
        justify-content: flex-end;
        ul{
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
            list-style: none;
            margin: 0;
            padding: 0;
            li{
                a{
                    text-decoration: none;
                    color: $color-tipografia;
                    font-weight: bold;
                    padding: 8px 12px;
                    transition: color 0.3s;
                    border-radius: 5px;
                    background-color: $background-botones;
                    :hover{
                        color: $color-transicion-primario;
                    }
                }
            }
        }
    }
    
}
*/
.logo{
    @include medidas (100%, 50px);
}


/*Estilos del main*/
main{
    text-align: center;
    padding: 20px;
    a{
        text-decoration: none;
        color: $color-tipografia;
        font-weight: bold;
        padding: 8px 12px;
        transition: color 0.3s;
        border-radius: 5px;
        background-color: $background-botones;
        :hover{
            color: $color-transicion-primario;
        }
    }
    img{
        width: 100%;
        height: auto;
        display: block;
        margin: 20px auto;
        max-width: 100%;
    }
    
}

h1{
    font-size: 2rem;
    margin-bottom: 10px;
    color: $color-tipografia;
}
h2{
    font-size: 2rem;
    margin-top: 30px;
    margin-bottom: 10px;
    color: $color-tipografia;
}

p{
    font-size: 1rem;
    color: $color-tipografia;
    margin-bottom: 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    li{
        a{
            display: inline-block;
            padding: 10px 20px;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s ease;
            font-weight: bold;
            background-color: $background-botones;
            :hover{
                background-color: $color-transicion-secundario;
            }
        }
    }
}

.grid-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
}

.grid-container-dos {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
}

section {
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

svg {
    margin-bottom: 10px;
}

/* Estilos de formularios */
.formulario{
    margin: 0 auto;
    width: min(60rem, 100%);
    padding: 2rem;
    border-radius: 1rem;
    fieldset{
        border: none;
        legend{
            color: $color-tipografia;
            text-align: center;
            font-size: 1.3rem;
            text-transform: uppercase;
            font-weight: 700;
            margin-bottom: 1rem;
        }
    }
}

.campo{
    margin-bottom: 1rem;
    label{
        color: $color-tipografia;
        font-weight: bold;
        margin-bottom: .5rem;
        display: block;
    }
    :nth-child(7){
        grid-column: 1 / 3;
    }
}

.input-text{
    width: 100%;
    border: none;
    padding: 1rem;
    border-radius: .5rem;
}
  
.enviar{
    width: 100%;
    padding: 8px 12px;
    margin-top: 1rem;
    color: $color-tipografia;
    font-weight: bold;
    background-color: $background-botones;
    font-size: 1rem;
    transition: color 0.3s;
    border-radius: 5px;
    background-color: $background-botones;
    :hover{
        background-color: transparent;
        border: 2px solid $color-tipografia;
        color: $color-tipografia;
        cursor: pointer;
        background-color: $color-transicion-primario;
    }
}

/* estilos para footer */
footer{
    padding: 20px;
}

.footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-icons{
    display: flex;
    gap: 15px;
}

.footer-divider{
    border: none;
    height: 1px;
    background-color: whitesmoke;
    margin: 20px 0;
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 14px;
    p,a{
        flex: 1;             /* nuevo: permite que ocupen el espacio disponible */
        text-align: left;
    }
    a{
        text-decoration: none;
        padding: 6px 12px;
        font-weight: bold;
        text-align: right;
    }
}
@import "pages/mq-mobile";